body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(252, 247, 247);
    color:honeydew
    margin: 0;
    padding: 0;
}

header{
    background-color: ivory;
    color:brown
    padding: 30px;
    text-aling:   center;
}

header h1 {
margin: 0;
font-size: 40px;
}
header h1